<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>PyIQ</title>
</head>
<body>
    {% include  'pyIQ/base.html'%}
    {% block content %}
    <h3> Welcome to pyIQ  pythonistas
        <img src="{% static 'images/icons8-hand-black.png'%}"/>
    </h3>
    {% for q in questions %}
    {{ q.question|linebreaks }} 
    {{ q.opt_1|linebreaks }}
    {{ q.opt_2|linebreaks }}
    {{ q.opt_3|linebreaks }}
    {{ q.opt_4|linebreaks }}
    {% endfor %}
    {% endblock content %}
</body>
</html>